.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 10px 20px;
  top: 0;
  left: 0;
  z-index: 1000;
}
.leftContainer {
  margin-top: 1em;
  margin-left: 1em;
}
.leftContainer, .rightContainer {
  display: flex;
  align-items: center;
}
.leftHalf {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.leftHalf img {
  width: 80px;
  margin-right: 10px;
}
.byText {
  color: #fff;
  font-family: 'Formula1', sans-serif; /* Apply the custom font */
  font-weight: 200;
  font-size: 1.25em;
}
